/************************


/************************
        MEDIA QUERY MIN-WIDTH 600PX
  *************************/
@media screen and (min-width: 600px) {
  h1 {
    margin-top: 0;
    font-size: 2.2em;
    text-align: left;
  }

  h2 {
    text-align: left;
    font-size: 1.81em;
  }

  h3 {
    font-size: 1.2691em;
  }

  h4 {
    font-size: .88837em;
  }

  img#interest-photo {
    max-width: 15%;
    margin-right: 5%;
  }

  p {
    font-size: 1em;
  }

  nav ul li {
    margin-top: 0;
    font-size: 1em;
  }

               /************************
|  GALLERY PAGE 
*************************/
  section.gallery {
    margin: 0 2.5em;
  }

  section.gallery ul {
    display: -webkit-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    min-width: 35%;
    border: none;
  }

  section.gallery ul li {
    align-self: stretch;
    text-align: justify;
  }

               /************************
|  Contact PAGE 
*************************/
  #contact-primary, #contact-secondary {
    -webkit-columns: 150px 2;
    -moz-columns: 150px 2;
    columns: 150px 2;
  }
}
